<!DOCTYPE html>
<html>
  <head>
    <title>Creditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Créditos</h3>
	<p>Mariano Montoro Mendoza.</p>
	<p><i> e-mail: </i>
	<a href="https://www.upm.es/webmail_alumnos/?_task=mail">m.montoro@alumnos.upm.es</a> </p>
	<img src="/profile.jpg" height="200" width="180">
	<p>Estudio en la ETSIT-UPM</p>
  	<iframe width="854" height="510" src="https://www.youtube.com/embed/KjZTrBFf7dU" frameborder="0" allowfullscreen></iframe>
    </div>
  </body>
</html>
